In [12]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [13]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
lending_data_df = pd.read_csv('Resources/lending_data.csv')

# Review the DataFrame
lending_data_df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [14]:
# Separate the data into labels and features

# Separate the y variable, the labels
y = lending_data_df['loan_status']

# Separate the X variable, the features
x = lending_data_df.drop("loan_status", axis=1)

In [15]:
# Review the y variable Series
y.head()

0    0
1    0
2    0
3    0
4    0
Name: loan_status, dtype: int64

In [16]:
# Review the X variable DataFrame
x.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [17]:
# Check the balance of our target values
y_value_counts = y.value_counts()

y_value_counts

0    75036
1     2500
Name: loan_status, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [18]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=1)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((58152, 7), (19384, 7), (58152,), (19384,))

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [19]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
logistic_model = LogisticRegression(random_state=1, max_iter=1000)

# Fit the model using training data
logistic_model.fit(x_train, y_train)

LogisticRegression(max_iter=1000, random_state=1)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [20]:
# Make a prediction using the testing data
y_pred = logistic_model.predict(x_test)

y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [21]:
# Print the balanced_accuracy score of the model
balanced_acc = balanced_accuracy_score(y_test, y_pred)

In [22]:
# Generate a confusion matrix for the model
confusion_mat = confusion_matrix(y_test, y_pred)

In [23]:
# Print the classification report for the model
class_rep = classification_report(y_test, y_pred)

print(f'Balanced accuracy score: {balanced_acc}')
print(f'\nConfusion matrix :\n {confusion_mat}')
print(f'\nClassification report :\n {class_rep}')

Balanced accuracy score: 0.9520479254722232

Confusion matrix :
 [[18663   102]
 [   56   563]]

Classification report :
               precision    recall  f1-score   support

           0       1.00      0.99      1.00     18765
           1       0.85      0.91      0.88       619

    accuracy                           0.99     19384
   macro avg       0.92      0.95      0.94     19384
weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:**

A balanced accuracy score of 95.20% indictates that the logistic regression model did well in predicting the healthy loans (label 0). It identified and predicted a large number of healthy loans correctly (18663), with few false positives (102).

For high-risk loans (label 1), the model has a precision of 0.85 and an even better recall of 0.91. This means that the model is performed moderately well at predicting high-risk loans, which is evidenced in a precision of 85%. However, the model was excellent at identifying high-risk loans, based on a recall of 91%.

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [ ]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
ros = RandomOverSampler(random_state=1)

# Fit the original training data to the random_oversampler model
x_resampled, y_resampled = ros.fit_resample(x_train, y_train)

In [ ]:
# Count the distinct values of the resampled labels data
resampled_counts = y_resampled.value_counts()

print(resampled_counts)

0    56271
1    56271
Name: loan_status, dtype: int64

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [ ]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
logistic_resampled = LogisticRegression(random_state=1, max_iter=1000)

# Fit the model using the resampled training data
logistic_resampled.fit(x_resampled, y_resampled)

# Make a prediction using the testing data
y_pred_resampled = logistic_resampled.predict(x_test)

print(y_pred_resampled)

[0 0 0 ... 0 0 0]

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [ ]:
# Print the balanced_accuracy score of the model
balanced_accuracy_resampled = balanced_accuracy_score(y_test, y_pred_resampled)

In [ ]:
# Generate a confusion matrix for the model
confusion_matrix_resampled = confusion_matrix(y_test, y_pred_resampled)

In [ ]:
# Print the classification report for the model
classification_report_resampled = classification_report(y_test, y_pred_resampled)

print(f'Balanced accuracy score: {balanced_accuracy_resampled}')
print(f'\nConfusion matrix :\n {confusion_matrix_resampled}')
print(f'\nClassification report :\n {classification_report_resampled}')

Balanced accuracy score: 0.9936781215845847

Confusion matrix :
 [[18649   116]
 [    4   615]]

Classification report :
               precision    recall  f1-score   support

           0       1.00      0.99      1.00     18765
           1       0.84      0.99      0.91       619

    accuracy                           0.99     19384
   macro avg       0.92      0.99      0.95     19384
weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:**
Considering the high balanced accuracy score and the metrics from the classification report, the logistic regression model fit with oversampled data did great at predicting both the healthy and high-risk loans.

This model, when trained with the oversampled data, misclassified slightly more healthy loans (label 0) as high-risk loans than the logistic regression model with the original data. 

The model, however, has significantly improved its recall to 99% for high-risk loans (label 1).